:root {
  background-color: #f0c9eabc;
  font-family: 'Nunito', sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7rem;
  margin-top: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 30rem;
  margin: auto;
  margin-top: 2rem;
  border-radius: 5%;
  background-color: aliceblue;
  box-shadow: #140c03;
}

.fields {
  display: flex;
  flex-direction: column;
}



.text {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

#logo__google {
  width: 4rem;
  transform: translateY(7px);
  
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  
}

.field__inputs {
  margin: 0.5rem 0;
  border-style: none;
  border-radius: 5rem;
  height: 3rem;
  padding: 0 2rem;
  text-align: center;
  font-size: 15px;
  background-color: rgba(240, 188, 228, 0.314);
  
  
}

.field__remember {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
  
}

#checkbox {
  margin-right: 1rem;
  height: 1.2rem;
  
}

.field__button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button {
  width: 80%;
  height: 4rem;
  background-color: #e01a89;
  border: none;
  border-radius: 50px;
  font-size: 28px;
  color: white
}

.field__esqueci {
   display: flex;
   margin-left: 20rem;
   margin-top: 1rem;
   font-size: 15px;

}

.field__conta {
  display: flex;
  margin-top: 2rem;
  margin-inline: auto;
  font-size: 20px;
}

#criar {
  color: #e01a89;
  font-weight: bold;

}

a {
  text-decoration: none;
}

a :hover {
  text-decoration: underline;
}

.field__esqueci a:hover {
  text-decoration: underline;
  color: rgb(18, 21, 186);

}

.field__esqueci a {
  color: #3374b0;
}
